# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
data['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
data['Department'].value_counts()

POLICE                   12973
FIRE                      4800
STREETS & SAN             2194
OEMC                      2044
WATER MGMNT               1878
AVIATION                  1612
TRANSPORTN                1103
GENERAL SERVICES           972
PUBLIC LIBRARY             932
FAMILY & SUPPORT           621
FINANCE                    575
HEALTH                     516
LAW                        405
CITY COUNCIL               400
BUILDINGS                  266
COMMUNITY DEVELOPMENT      214
BUSINESS AFFAIRS           168
BOARD OF ELECTION          112
DoIT                       101
PROCUREMENT                 86
MAYOR'S OFFICE              85
CITY CLERK                  85
CULTURAL AFFAIRS            76
ANIMAL CONTRL               73
HUMAN RESOURCES             68
INSPECTOR GEN               63
IPRA                        56
BUDGET & MGMT               44
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   24
HUMAN RELATIONS             17
COPA                        17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

# data extraction
data_hourly = data[data['Annual Salary'].isna()]
data_hourly = data_hourly.drop(['Annual Salary'], axis=1)

# quick look at the data 
data_hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Hourly Rate
11,"FITCH, JORDAN M",LAW CLERK,LAW,F,Hourly,35.0,$14.51
54,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,$19.66
56,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,$46.10
57,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,$35.60
60,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,$2.65
...,...,...,...,...,...,...,...
32639,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,$46.10
32643,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,$17.50
32644,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,$35.60
32650,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,$46.35
32651,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,$48.85

In [8]:
data_hourly.dtypes

Name                  object
Job Titles            object
Department            object
Full or Part-Time     object
Salary or Hourly      object
Typical Hours        float64
Hourly Rate           object
dtype: object

In [9]:
# The figures in column hourly rate are not recognized as float. We need to correct this.
data_hourly['Hourly Rate'] = data_hourly['Hourly Rate'].str.lstrip("$").astype(float)
data_hourly.dtypes

Name                  object
Job Titles            object
Department            object
Full or Part-Time     object
Salary or Hourly      object
Typical Hours        float64
Hourly Rate          float64
dtype: object

In [10]:
# We can now start the hypothesis testing
# If H1 is that the average hourly rate is significantly different than $30/hr, H0 is : average hourly rate is equal to $30/hr

In [11]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(data_hourly['Hourly Rate'], 30)
print('stat is  ', stat)         
print('pvalue for the two-tailed test is ', pval)

stat is   21.003532193332216
pvalue for the two-tailed test is  2.4048011351057683e-95

In [12]:
# The p value is significantly lower than 0.05, which means that the probability of having an hourly rate is close to $30/hr
# is almost 0 -->  H0 is rejected and the average hourly rate is not close to $30/hr.

# Stat value is positive, which indicates that the actual average is higher than $30/hr.
# Let's check what the actual amount is
np.mean(data_hourly['Hourly Rate'])

32.86819231257292

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# Your code here:

# data extraction
data_police_salary = data[(data['Annual Salary'].notna()) & (data['Department'] == 'POLICE')]
data_police_salary = data_police_salary.drop(['Hourly Rate', 'Typical Hours'], axis=1)

# quick look at the data 
data_police_salary

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Annual Salary
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,$104628.00
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,$111474.00
7,"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,$104628.00
8,"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,$96060.00
9,"EWING, MARIE A",CLERK III,POLICE,F,Salary,$53076.00
...,...,...,...,...,...,...
32652,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,$48078.00
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,$90024.00
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,$48078.00
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,$87006.00
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,$93354.00

In [14]:
# The figures in column hourly rate are not recognized as float. We need to correct this.
data_police_salary['Annual Salary'] = data_police_salary['Annual Salary'].str.lstrip("$").astype(float)
data_police_salary.dtypes

Name                  object
Job Titles            object
Department            object
Full or Part-Time     object
Salary or Hourly      object
Annual Salary        float64
dtype: object

In [15]:
# We can now start the hypothesis testing
# If H1 is that the average annual salary rate is higher than $86000, H0 is : annual salary is <= $86000

In [16]:
stat_2, pval_2 = ttest_1samp(data_police_salary['Annual Salary'], 86000)
print('stat is  ', stat_2)         
print('pvalue for the one-tailed test is ', pval_2/2)

stat is   12.573116980151957
pvalue for the one-tailed test is  2.4100985740030478e-36

In [17]:
# The p value is again significantly below the 0.05, which means that we have to reject H0.
# Again, the positive stat amount indicates that the actual average is higher than the $86000 we have tested
# The The chief of police's claim was thus "justified".

# Let's check the actual amount
np.mean(data_police_salary['Annual Salary'])

87836.02534889111

Using the `crosstab` function, find the department that has the most hourly workers.

In [18]:
# Your code here:
data_crosstab = pd.crosstab(data_hourly['Department'], data_hourly['Salary or Hourly'], margins = False)
data_crosstab

Salary or Hourly       Hourly
Department
ANIMAL CONTRL              16
AVIATION                 1056
BUDGET & MGMT               1
BUSINESS AFFAIRS            8
CITY CLERK                  3
CITY COUNCIL               52
COMMUNITY DEVELOPMENT       4
CULTURAL AFFAIRS           10
FAMILY & SUPPORT          300
FINANCE                    43
FIRE                        2
GENERAL SERVICES          767
HEALTH                      4
HUMAN RESOURCES             1
LAW                        44
MAYOR'S OFFICE              7
OEMC                     1212
POLICE                     32
PROCUREMENT                 4
PUBLIC LIBRARY            224
STREETS & SAN            1873
TRANSPORTN                707
TREASURER                   1
WATER MGMNT              1512

In [19]:
# We see here that the department with the highest number of hourly workers is STREETS & SAN with 1873 hourly employees.

In [20]:
# I would personally have done it like this :
data_hourly['Department'].value_counts()  # which classifies directly the departments in descending order

STREETS & SAN            1873
WATER MGMNT              1512
OEMC                     1212
AVIATION                 1056
GENERAL SERVICES          767
TRANSPORTN                707
FAMILY & SUPPORT          300
PUBLIC LIBRARY            224
CITY COUNCIL               52
LAW                        44
FINANCE                    43
POLICE                     32
ANIMAL CONTRL              16
CULTURAL AFFAIRS           10
BUSINESS AFFAIRS            8
MAYOR'S OFFICE              7
PROCUREMENT                 4
HEALTH                      4
COMMUNITY DEVELOPMENT       4
CITY CLERK                  3
FIRE                        2
HUMAN RESOURCES             1
BUDGET & MGMT               1
TREASURER                   1
Name: Department, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [21]:
# Your code here:
data_hourly_street = data_hourly[data_hourly['Department'] == 'STREETS & SAN']
data_hourly_street

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Hourly Rate
57,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
73,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,20.77
76,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
85,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,36.21
88,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
...,...,...,...,...,...,...,...
32582,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
32623,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,35.60
32624,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,36.21
32631,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,21.43
32637,"ZURAWSKI, MAC Z",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,36.21

In [22]:
# H1 is : hour rate < $35/hr  --> H0 is hour rate >= $35/hr

In [23]:
stat_3, pval_3 = ttest_1samp(data_hourly_street['Hourly Rate'], 35)
print('stat is  ', stat_3)         
print('pvalue for the one-tailed test is ', pval_3/2)

stat is   -7.172610090911691
pvalue for the one-tailed test is  5.276243152130208e-13

In [24]:
# Once again, the p value is far below the 0.05 and we have to reject H0.
# The employee are right on their assumption.

In [25]:
# Let's check the actual amount
np.mean(data_hourly_street['Hourly Rate'])

34.06726641751145

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [26]:
# Your code here:

import scipy.stats

confidence_level = 0.95
degrees_freedom = len(data_hourly['Hourly Rate']) - 1
sample_mean = np.mean(data_hourly['Hourly Rate'])
sample_standard_error = scipy.stats.sem(data_hourly['Hourly Rate'])

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (32.60050319432687, 33.135881430818976) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [27]:
# Your code here:
degrees_freedom_2 = len(data_police_salary['Annual Salary']) - 1
sample_mean_2 = np.mean(data_police_salary['Annual Salary'])
sample_standard_error_2 = scipy.stats.sem(data_police_salary['Annual Salary'])

confidence_interval_2 = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom_2, 
                                             sample_mean_2, 
                                             sample_standard_error_2)

print( 'confidence interval is ', confidence_interval_2, '.' )

confidence interval is  (87549.78923170577, 88122.26146607645) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [28]:
# Your code here:

# H1 is number of hourly employees != 25% of total  --> H0 is number of hourly employees = 25% of total

from statsmodels.stats.proportion import proportions_ztest

count_hourly = len(data_hourly['Name'])
nobs = len(data['Name'])

stat_4, pval_4 = proportions_ztest(count_hourly,nobs,value=0.25,alternative='two-sided')

print('stat is  ', stat_4)         
print('pvalue for the one-tailed test is ', pval_4)

stat is   -3.6401610358268113
pvalue for the one-tailed test is  0.0002724675813939414

In [29]:
# pvalue is once again lower than 0.05 and H0 is rejected, which means with a 95% confidence level that the weight of
# hourly workers is not equal to 25% 

# Let's look at the actual amount :
print(count_hourly/nobs)

0.2413803662196093

# LAB 4-5 - COMPARING REGRESSION MODELS

## 1. In this final lab, we will model our data. Import sklearn train_test_split and separate the data